<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leeconmonclick">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_leerconmonclick"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_leerconmonclick_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".patient.JoinWordsGameActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".patient.GameSelecctionActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".professional.leeconmonclick.professional.AddNoteActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".professional.leeconmonclick.professional.PersonalNotesActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".professional.leeconmonclick.professional.HomeProfesionalActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".professional.leeconmonclick.professional.ListPatientActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".patient.HomePatientActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".patient.LoginPatient2Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".professional.leeconmonclick.professional.AddPatientsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".professional.leeconmonclick.professional.ContentListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".professional.leeconmonclick.professional.AddContentActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".professional.leeconmonclick.professional.TaskListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".professional.leeconmonclick.professional.AddTaskActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".professional.leeconmonclick.professional.RegisterProfessionalActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".professional.leeconmonclick.professional.LoginProfesionalActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HelpActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ProfilesActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoadActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ErrorActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>